html, body {
    height: 100%;
}

/*this is where css for background gif/loading img is*/
body {
    background-image: url("img/lightspeed.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

/* When body has fixed-nav class */
body.fixed-nav nav#main-nav {
    position: fixed;
    box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}



/* CSS for the Video */
video{
    z-index: 3;
    top: 0;
    object-fit: cover;
}



/**/
/*** Header Animation  ***/
/**/
/*this is start of js animation header test*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
}

header > nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}

#logo{
    grid-column: 2/3;
    font-size: 24px;
    font-family: 'Limelight', cursive;
}

header > section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.headerimage {
    height: 80%;
    width: 100%;
    position: relative;
}

.hope {
    display: none;
    opacity: .85;
    z-index: 1;
}

.headerimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.headerimage img.fin {
    animation-name: finFade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}
@keyframes finFade {
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

.headline {
    position: absolute;
    top: 58%;
    left: 15%;
    font-size: 75px;
    text-shadow: 5px 5px 5px black;
    font-family: 'Limelight', cursive;
    transform: translate(-20%, -70%);
    z-index: 2;
    -webkit-animation: flicker 3s linear both;
    animation: flicker 3s linear both;
    animation-delay: 22s;
    animation-iteration-count: 1;
}

.headerimage::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #db0909, #0f27ff);
    z-index: -1;
}
/* this is end of js animation header */

/* start of flicker animation */
@-webkit-keyframes flicker {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    10.1% {
        opacity: 1; color: #4f4e3e;
    }
    10.2% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    20.1% {
        opacity: 1; color: #4f4e3e;
    }
    20.6% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    30.1% {
        opacity: 1; color: #4f4e3e;
    }
    30.5% {
        opacity: 1; color: #4f4e3e;
    }
    30.6% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    45.1% {
        opacity: 1; color: #4f4e3e;
    }
    50% {
        opacity: 1; color: #4f4e3e;
    }
    55% {
        opacity: 1; color: #4f4e3e;
    }
    55.1% {
        opacity: 0;
    }
    57% {
        opacity: 0;
    }
    57.1% {
        opacity: 1; color: #4f4e3e;
    }
    60% {
        opacity: 1; color: #4f4e3e;
    }
    60.1% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    65.1% {
        opacity: 1; color: #4f4e3e;
    }
    75% {
        opacity: 1; color: #4f4e3e;
    }
    75.1% {
        opacity: 0;
    }
    77% {
        opacity: 0;
    }
    77.1% {
        opacity: 1; color: #4f4e3e;
    }
    85% {
        opacity: 1; color: #f2ee77;
    }
    85.1% {
        opacity: 0;
    }
    86% {
        opacity: 0;
    }
    86.1% {
        opacity: 1; color: #f2ee77;
    }
    100% {
        opacity: 1; color: #f2ee77;
    }
}
@keyframes flicker {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    10.1% {
        opacity: 1; color: #4f4e3e;
    }
    10.2% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    20.1% {
        opacity: 1; color: #4f4e3e;
    }
    20.6% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    30.1% {
        opacity: 1; color: #4f4e3e;
    }
    30.5% {
        opacity: 1; color: #4f4e3e;
    }
    30.6% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    45.1% {
        opacity: 1; color: #4f4e3e;
    }
    50% {
        opacity: 1; color: #4f4e3e;
    }
    55% {
        opacity: 1; color: #4f4e3e;
    }
    55.1% {
        opacity: 0;
    }
    57% {
        opacity: 0;
    }
    57.1% {
        opacity: 1; color: #4f4e3e;
    }
    60% {
        opacity: 1; color: #4f4e3e;
    }
    60.1% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    65.1% {
        opacity: 1; color: #4f4e3e;
    }
    75% {
        opacity: 1; color: #4f4e3e;
    }
    75.1% {
        opacity: 0;
    }
    77% {
        opacity: 0;
    }
    77.1% {
        opacity: 1; color: #4f4e3e;
    }
    85% {
        opacity: 1; color: #4f4e3e;
    }
    85.1% {
        opacity: 0;
    }
    86% {
        opacity: 0;
    }
    86.1% {
        opacity: 1; color: #4f4e3e;
    }
    100% {
        opacity: 1; color: #ffb829;
    }
}
/* end of flicker animation -- */

/* css for navbar (in header) */
.navbar {
    animation: background-color 11s ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes background-color {
    0% {
        background-color: #000;
        /*#8d2999*/
    }
    20%{
        background-color: #000;
    }
    40%{
        background-color: #361446;
    }
    60%{
        background-color: #361446;
    }
    80%{
        background-color: #000;
        /*361446*/
    }
    100%{
        background-color: #000;
    }
}

/* css for navbar text (in header) */
.text-center {
    font-family: 'Limelight', cursive;
}

@keyframes gif-change {
    0%{
      background-size: 25%;
    }
    25%{
      background-size: 15%;
    }
    50%{
      background-size: 35%;
    }
    75%{
      background-size: 15%;
    }
    100%{
      background-size: 25%;
    }
}
/*this is end of background gif/loading css*/



/**/
/*** Nav Bar CSS ***/
/**/
/* Sizing for logo in NavBar*/
ul img{
    height: 90px;
}

/* Font color in navbar */
ul a{
    color: white;
}

/* Css for logo and for it to be hidden */
li.logo {
    max-width: 0;
    overflow: hidden;
    background: white;
    transition: all 0.5s;
    font-weight: 600;
    font-size: 30px;
}

/* Css for nav logo when .fixed-nav is active */
.fixed-nav li.logo {
    max-width: 500px;
}

/* Nav bar css */
#main-nav{
    color: white;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* hover effect for wanna add */
a.btn:hover {
    color: #be9dc2;
    cursor: pointer;
}

/* hover effect for looking for something */
li.text-center.m-auto {
    color: #be9dc2;
    cursor: pointer;
}

/* Hover for text-center class */
.text-center:hover {
    /*cursor: pointer;*/
}

/* Font size for buttons in cards */
a.badge-pill {
    font-size: 1.5em;
}

/* Animation on hover for buttons in cards */
a.badge-pill.badge-primary:hover {
    animation: bounce .85s ease-out;
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0); background-color: #1465d9;
    }

    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px); background-color: #8ce8ff; color: #77f298;
    }

    80% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px); background-color: #1465d9;
    }
}

/* first lightsaber hilt */
#ls-hilt1 {
    position: absolute;
    width: 50px;
    height: 5px;
    background: silver;
    border-top-left-radius: 3.75px;
    border-bottom-right-radius: 3.75px;
    border-bottom-left-radius: 3.75px;
    margin-top: 5%;
    margin-left: 20%;
}

/* second lightsaber hilt */
#ls-hilt2 {
    position: absolute;
    width: 50px;
    height: 5px;
    background: silver;
    border-top-left-radius: 3.75px;
    border-bottom-right-radius: 3.75px;
    border-bottom-left-radius: 3.75px;
    margin-top: 5%;
    margin-left: 66.5%;
}

.hilt-part1 {
    position: absolute;
    height: 6px;
    width: 7.5px;
    background: #898a88;
    border: .5px solid grey;
    left: 6.25px;
    border-radius: 1px;
    top: -.5px;
}
.hilt-part1:nth-child(2){
    position: absolute;
    left: 3.125px;
    border-top-right-radius: 3px;
}
.hilt-part1:nth-child(3){
    position: absolute;
    left: 18.75px;
}
.hilt-part1:nth-child(4){
    position: absolute;
    left: 25px;
}

.hilt-part2 {
    position: absolute;
    height: 4.5px;
    width: 2.75px;
    background: silver;
    border: .25px solid darkgrey;
    left: 32.5px;
    top: .5px;
}

.hilt-part3 {
    position: absolute;
    height: 4.5px;
    width: 1.75px;
    background: silver;
    border: .25px solid darkgrey;
    left: 26.25px;
    top: .5px;
}

.hilt-part4 {
    position: absolute;
    height: 4.5px;
    width: 1.75px;
    background: silver;
    border: .25px solid darkgrey;
    left: 37.25px;
    top: .5px;
}

.hilt-part5 {
    position: absolute;
    height: 4.5px;
    width: .75px;
    background: silver;
    border: .25px solid darkgrey;
    left: 42.5px;
}

.ls-button {
    position: absolute;
    margin-top: 1.25px;
    background: goldenrod;
    height: 2.5px;
    width: 2.5px;
    border-radius: 50%;
    left: 38.75px;
    border: .35px yellow;
    cursor: pointer;
}

/* green saber animation */
#green-crystal {
    background: #18d115;
}

/* red saber animation */
#red-crystal {
    background: #ff2121;
}

/* Saber class */
.saber{
    position: absolute;
    left: 49px;
    height: 5px;
    width: 160px;
    border-top-right-radius: 6.25px;
    border-bottom-right-radius: 6.25px;
    animation: lightsaber-power-on 1s;
    animation-iteration-count: 1;
    filter: blur(2px);
    display: none;
}

/* Key frames for "on" and "off" beams */
@keyframes lightsaber-power-on {
    0% {
        width: 0px;
    }
    100%{
        width: 160px;
    }
}
@keyframes lightsaber-power-off {
    0% {
        width: 160px;
    }
    100%{
        width: 0px;
    }
}



/* Movie area css*/
#movie-area{
    transform: scale(0.98);
    transition: transform 0.5s;
    background-image: url("img/death-star.gif");
    background-repeat: no-repeat;
    background-size: contain;
}



/**/
/*** Cards CSS ***/
/**/
/* Height and width of the overall card */
.card{
    width: 250px;
    height: 375px;
    /* added the 3d illusion */
    perspective: 1000px;
}

/* Container to hold the "cards" and do the flip */
.flip{
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* On hover have the cards flip */
.card:hover .flip{
    transform: rotateY(180deg);
}

/* Positions the front and back of the cards on top of each other */
.front, .back{
    backface-visibility: hidden;
}

/* Place styling for front card in-case of no image */
.front{
    background-image: url("img/coming-soon.png");
}

/* Styling for back of card */
.back{
    transform: rotateY(180deg);
    background-color: #ffb829;
}

/* Styling class to enlarge the icons in the cards */
.cLink {
    font-size: 1.5em;
}

/*this is for card poster images*/
.card img {
    object-fit: fill;
}


