html, body {
    height: 100%;
}

/*this is start of js animation header test*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
}

/*.sw {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    animation: swFadeInOut;*/
/*    animation-timing-function: ease-in-out;*/
/*    animation-iteration-count: infinite;*/
/*    animation-duration: 10s;*/
/*    animation-direction: alternate;*/
/*}*/
/*@keyframes swFadeInOut {*/
/*    0% {*/
/*        opacity:1;*/
/*    }*/
/*    45% {*/
/*        opacity:1;*/
/*    }*/
/*    55% {*/
/*        opacity:0;*/
/*    }*/
/*    100% {*/
/*        opacity:0;*/
/*    }*/
/*}*/


/*this is for card poster images*/
.card img {
    object-fit: fill;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #f7635c, #edda5c);
    z-index: -1;
}

header > nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}
/*font-family: 'Limelight', cursive;*/
/*font-family: 'Chivo', sans-serif;*/
#logo{
    grid-column: 2/3;
    font-size: 24px;
    font-family: 'Limelight', cursive;
}

/*#logo2{*/
/*    grid-column: 2/3;*/
/*    font-size: 20px;*/
/*    font-family: 'Limelight', cursive;*/
/*}*/

header > section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.headerimage {
    height: 80%;
    width: 100%;
    position: relative;
}

.hope {
    display: none;
    opacity: .85;
    z-index: 1;
}


.headerimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.headerimage img.fin {
    animation-name: finFade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}
@keyframes finFade {
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

.headline {
    position: absolute;
    top: 58%;
    left: 15%;
    font-size: 75px;
    text-shadow: 5px 5px 5px black;
    font-family: 'Limelight', cursive;
    transform: translate(-20%, -70%);
    z-index: 2;
    -webkit-animation: flicker 3s linear both;
    animation: flicker 3s linear both;
    animation-delay: 4.5s;
    animation-iteration-count: 1;
}


/*start of flicker animation*/
@-webkit-keyframes flicker {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    10.1% {
        opacity: 1; color: #4f4e3e;
    }
    10.2% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    20.1% {
        opacity: 1; color: #4f4e3e;
    }
    20.6% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    30.1% {
        opacity: 1; color: #4f4e3e;
    }
    30.5% {
        opacity: 1; color: #4f4e3e;
    }
    30.6% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    45.1% {
        opacity: 1; color: #4f4e3e;
    }
    50% {
        opacity: 1; color: #4f4e3e;
    }
    55% {
        opacity: 1; color: #4f4e3e;
    }
    55.1% {
        opacity: 0;
    }
    57% {
        opacity: 0;
    }
    57.1% {
        opacity: 1; color: #4f4e3e;
    }
    60% {
        opacity: 1; color: #4f4e3e;
    }
    60.1% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    65.1% {
        opacity: 1; color: #4f4e3e;
    }
    75% {
        opacity: 1; color: #4f4e3e;
    }
    75.1% {
        opacity: 0;
    }
    77% {
        opacity: 0;
    }
    77.1% {
        opacity: 1; color: #4f4e3e;
    }
    85% {
        opacity: 1; color: #f2ee77;
    }
    85.1% {
        opacity: 0;
    }
    86% {
        opacity: 0;
    }
    86.1% {
        opacity: 1; color: #f2ee77;
    }
    100% {
        opacity: 1; color: #f2ee77;
    }
}
@keyframes flicker {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    10.1% {
        opacity: 1; color: #4f4e3e;
    }
    10.2% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    20.1% {
        opacity: 1; color: #4f4e3e;
    }
    20.6% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    30.1% {
        opacity: 1; color: #4f4e3e;
    }
    30.5% {
        opacity: 1; color: #4f4e3e;
    }
    30.6% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    45.1% {
        opacity: 1; color: #4f4e3e;
    }
    50% {
        opacity: 1; color: #4f4e3e;
    }
    55% {
        opacity: 1; color: #4f4e3e;
    }
    55.1% {
        opacity: 0;
    }
    57% {
        opacity: 0;
    }
    57.1% {
        opacity: 1; color: #4f4e3e;
    }
    60% {
        opacity: 1; color: #4f4e3e;
    }
    60.1% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    65.1% {
        opacity: 1; color: #4f4e3e;
    }
    75% {
        opacity: 1; color: #4f4e3e;
    }
    75.1% {
        opacity: 0;
    }
    77% {
        opacity: 0;
    }
    77.1% {
        opacity: 1; color: #4f4e3e;
    }
    85% {
        opacity: 1; color: #4f4e3e;
    }
    85.1% {
        opacity: 0;
    }
    86% {
        opacity: 0;
    }
    86.1% {
        opacity: 1; color: #4f4e3e;
    }
    100% {
        opacity: 1; color: #ffb829;
    }
}
/*end of flicker animation --*/

.headerimage::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}
/*this is end of js animation header*/

/*css for navbar*/
.navbar {
    animation: background-color 11s ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes background-color {
    0% {
        background-color: #8d2999;
    }
    20%{
        background-color: #361446;
    }
    40%{
        background-color: #ec186c;
    }
    60%{
        background-color: #403bef;
    }
    80%{
        background-color: #361446;
    }
    100%{
        background-color: #8d2999;
    }
}
/*css for navbar text*/
.text-center {
    font-family: 'Limelight', cursive;
}

.text-center:hover {
    color: #be9dc2;
}
/*start of social media icons*/
i {
    cursor: pointer;
    font-size: 3em;
    margin: auto;
}

/*this is where css for background gif/loading img is*/
body {
    background-image: url("img/lightspeed.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    /*background-size: 25%;*/
    /*animation: gif-change 11s ease-in;*/
    /*animation-iteration-count: infinite;*/
}
@keyframes gif-change {
    0%{
      background-size: 25%;
    }
    25%{
      background-size: 15%;
    }
    50%{
      background-size: 35%;
    }
    75%{
      background-size: 15%;
    }
    100%{
      background-size: 25%;
    }
}
/*this is end of background gif/loading css*/

/*this is where bounce animation for buttons starts*/
a.badge-pill.badge-primary:hover {
    animation: bounce .85s ease-out;
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0); background-color: #1465d9;
    }

    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px); background-color: #8ce8ff; color: #77f298;
    }

    80% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px); background-color: #1465d9;
    }
}



/*this is where bounce animation for buttons starts*/
a.badge-pill {
    font-size: 1.5em;
}



/* Cards CSS */
/* Height and width of the overall card */
.card{
    width: 250px;
    height: 375px;
    /* added the 3d illusion */
    perspective: 1000px;
}

/* Container to hold the "cards" and do the flip */
.flip{
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* On hover have the cards flip */
.card:hover .flip{
    transform: rotateY(180deg);
}

/* Positions the front and back of the cards on top of each other */
.front, .back{
    backface-visibility: hidden;
}

/* Place styling for front card in-case of no image */
.front{
    background-image: url("img/coming-soon.png");
}

/* Styling for back of card */
.back{
    transform: rotateY(180deg);
    background-color: #ffb829;
}

/* Styling class to enlarge the icons in the cards */
.cLink {
    font-size: 1.5em;
}

/* Sizing for logo in NavBar*/
ul img{
    height: 90px;
}

ul a{
    color: white;
}

li.logo {
    max-width: 0;
    overflow: hidden;
    background: white;
    transition: all 0.5s;
    font-weight: 600;
    font-size: 30px;
}

body.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

.fixed-nav li.logo {
    max-width: 500px;
}

#main-nav{
    color: white;
    top: 0;
    width: 100%;
    z-index: 1;
}

#movie-area{
    transform: scale(0.98);
    transition: transform 0.5s;
    background-image: url("img/death-star.gif");
    background-repeat: no-repeat;
    background-size: contain;
}


.hide {
    visibility: hidden;
}

